apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: django-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      imagePullSecrets:
        - name: registry-pull-secret
      initContainers:
        - name: migrate
          image: registry.melekabderrahmane.com/easytp-backend:20260202-140850-e7f34e1 # {"$imagepolicy": "flux-system:easytp-backend"}
          imagePullPolicy: Always
          command: ["python", "manage.py", "migrate", "--noinput"]
          env:
            - name: DJANGO_SETTINGS_MODULE
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DJANGO_SETTINGS_MODULE
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_NAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DB_PASSWORD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: SECRET_KEY
            - name: WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: WEBHOOK_SECRET
      containers:
        - name: django
          image: registry.melekabderrahmane.com/easytp-backend:20260202-140850-e7f34e1 # {"$imagepolicy": "flux-system:easytp-backend"}
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: DJANGO_SETTINGS_MODULE
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DJANGO_SETTINGS_MODULE
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_PORT
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: DB_NAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DB_PASSWORD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: SECRET_KEY
            - name: WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: WEBHOOK_SECRET
            - name: REGISTRY_URL
              valueFrom:
                configMapKeyRef:
                  name: django-config
                  key: REGISTRY_URL
            - name: NFS_SERVER
              value: "nfs-service.django-app.svc.cluster.local"
            - name: NFS_PATH
              value: "/opt/django-shared"
          volumeMounts:
            - name: shared-data
              mountPath: /app/staticfiles
              subPath: staticfiles
            - name: shared-data
              mountPath: /app/media
              subPath: media
            - name: shared-data
              mountPath: /READONLY
              subPath: READONLY
            - name: shared-data
              mountPath: /USERDATA
              subPath: USERDATA
          livenessProbe:
            httpGet:
              path: /
              port: 8000
              httpHeaders:
                - name: Host
                  value: localhost
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8000
              httpHeaders:
                - name: Host
                  value: localhost
            initialDelaySeconds: 16
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              memory: "512Mi"
              cpu: "300m"
            limits:
              memory: "800Mi"
              cpu: "800m"
      volumes:
        - name: shared-data
          hostPath:
            path: /opt/django-shared
            type: DirectoryOrCreate
      serviceAccountName: django-account
---
apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: django-app
spec:
  selector:
    app: django-app
  ports:
  - port: 8000
    targetPort: 8000
