apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: django-app
data:
  nginx.conf: |
    upstream django {
        server django-service:8000;
    }

    server {
        listen 80;
        server_name api.melekabderrahmane.com;

        client_max_body_size 100M;

        location /static/ {
            alias /app/staticfiles/;
            expires 30d;
            add_header Cache-Control "public, immutable";
        }

        location /media/ {
            alias /app/media/;
            expires 30d;
            add_header Cache-Control "public, immutable";
        }

        location / {
            proxy_pass http://django;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header CF-Connecting-IP $http_cf_connecting_ip;
            proxy_redirect off;
        }
    }